*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
.page1{
    height: 100%;
    width: 100%;
    background: antiquewhite;
}
.page2{
    height: 100%;
    width: 100%;
    background: rgb(108, 85, 56);
}
.page3{
    height: 100%;
    width: 100%;
    background: rgb(112, 110, 163);
}
.page2 img{
    height: 100%;
    width: 20%;
    object-fit: cover;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}